.now-playing {
    border: 2px solid #663399;
    padding: 5px;
    right: 15px;
    top: 15px;
    width: 200px;
    position: absolute;
    z-index: 1000;
    border-radius: 10px;
    background-color: #212121;
    text-align: center;
}

.now-playing p {
    margin: 0px;
    color: #663399;
}

#artist {
    color: #CAA8F5;
}

@media screen and (max-width: 1050px) {
    .now-playing {
        display: none;
    }
}