.blog__categories {
    background: var(--dark-purple);
    background: radial-gradient(circle, rgba(63, 5, 79, 1) 75%, rgba(21, 96, 112, 1) 100%);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
}

.blog__categories__button {
    background-color: var(--near-black);
    border-radius: 10px;
    color: var(--dark-cyan);
    border: 0px;
    padding: 10px;
    max-width: 100px;
    flex: 1;
    cursor: pointer;
    transition:
        background-color 1s, color 1s;
}

.blog__categories__button:hover,
.blog__categories__button--active {
    background-color: transparent;
    color: var(--light-purple);
}

.blog__categories__button--active {
    cursor: default;
}
