.header {
    background: var(--dark-purple);
    background: radial-gradient(circle, rgba(63, 5, 79, 1) 75%, rgba(21, 96, 112, 1) 100%);
}

.header__title {
    padding-top: 25px;
    font-family: "Silkscreen", sans-serif;
    color: var(--light-purple);
    font-weight: 400;
    font-style: normal;
    text-shadow: 0px 0px 10px hotpink;
}

.topnav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 15px 0px;
    border-bottom: solid var(--dark-cyan);
    background-color: var(--near-grey);
    position: sticky;
    top: 0;
    z-index: 100;
}

.topnav_buttons {
    display: flex;
    flex-wrap: wrap;
    row-gap: 15px;
    justify-content: space-between;
    width: var(--center-elem-width);
}

.topnav__button {
    padding: 10px;
    border: 0px;
    border-radius: 10px;
    background-color: var(--near-black);
    color: var(--dark-cyan);
    width: 120px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-family: "Stack Sans Notch", sans-serif;
    cursor: pointer;
    transition:
        background-color 1s, color 1s;
}

.topnav__button:hover,
.topnav__button--active {
    background-color: var(--dark-purple);
    color: var(--light-purple);
}

.topnav__button--active {
    cursor: default;
}

.body {
    display: flex;
    justify-content: center;
}

.body__content {
    width: var(--center-elem-width);
}

@media (width <=800px) {
    .body__content {
        width: 100%;
        margin-left: 0%;
        margin-right: 0%;
    }

    .topnav {
        padding: 10px;
    }
}