:root {
    --dark-purple: #3f054f;
    --rebeccapurple: #663399;
    --light-purple: #CAA8F5;
    --dark-cyan: #156070;
    --deep-blue: #272462;
    --near-white: #E0E0E0;
    --near-black: #121212;
    --near-grey: #212121;
    --center-elem-width: 800px;
}

body {
    background-color: var(--near-black);
    font-family: Verdana, sans-serif;
    line-height: normal;
    color: var(--near-white);
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

section {
    padding: 15px;
    margin: 15px 0px;
    background-color: var(--near-grey);
    border-radius: 10px;
}

a {
    text-decoration: none;
    text-align: center;
}

a:link {
    color: var(--light-purple)
}

a:visited {
    color: var(--light-purple);
}

h1 {
    font-size: 2.5rem;
    text-align: center;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.6rem;
}

h4 {
    font-size: 1.3rem;
}

h5 {
    font-size: 1.1rem;
}

h6 {
    font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 15px;
    font-family: "Stack Sans Notch", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

small {
    font-size: 0.75rem;
}

strong {
    font-weight: 600;
}

blockquote {
    margin: 1em 0;
    padding-left: 1em;
    border-left: 4px solid var(--dark-cyan);
    font-style: italic;
    font-size: 1em;
    color: #4a4a4a;
}

p {
    margin: 1em 0;
}

footer {
    text-align: center;
}

ol {
    counter-reset: item;
}

ol li {
    margin-bottom: 0.5em;
    padding-left: 1.5em;
    position: relative;
}

ol li::before {
    content: counter(item);
    counter-increment: item;
    color: var(--near-white);
    color: var(--dark-cyan);
    width: 1em;
    height: 1em;
    line-height: 1em;
    text-align: center;
    position: absolute;
    left: 0;
    top: 0;
}

@media (width <=800px) {
    section {
        margin: 15px 10px;
    }
}