fakeSelector {
    background-color: #3f054f;
    background-color: #663399;
    /* rebeccapurple*/
    background-color: #CAA8F5;
    background-color: #156070;
    background-color: #272462;
}

body {
    background-color: #121212;
    font-family: Verdana, sans-serif;
    line-height: normal;
    color: #E0E0E0;
    min-width: 410px;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

section {
    padding: 15px;
    background-color: #212121;
    margin: 15px;
    border-radius: 10px;
}

a {
    text-decoration: none;
    text-align: center;
}

a:link {
    color: #CAA8F5;
}

a:visited {
    color: #CAA8F5;
}

h1 {
    font-size: 2.5rem;
    text-align: center;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.6rem;
}

h4 {
    font-size: 1.3rem;
}

h5 {
    font-size: 1.1rem;
}

h6 {
    font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 15px;
    font-family: "Stack Sans Notch", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

small {
    font-size: 0.75rem;
}

strong {
    font-weight: 600;
}

blockquote {
    margin: 1em 0;
    /* Vertical spacing */
    padding-left: 1em;
    border-left: 4px solid #156070;
    /* Accent color border */
    font-style: italic;
    font-size: 1em;
    color: #4a4a4a;
}

footer {
    text-align: center;
}

#title {
    padding-top: 25px;
    font-family: "Silkscreen", sans-serif;
    color: #CAA8F5;
    font-weight: 400;
    font-style: normal;
    text-shadow: 0px 0px 10px hotpink;
}

#quote {
    align-content: center;
    text-align: center;
    min-height: 50px;
}

#quote blockquote {
    font-family: "Stack Sans Notch", sans-serif;
    border: 0px;
    color: #156070;
}

#body {
    display: flex;
    justify-content: center;
}

#content {
    width: 740px;
}

#media-player {
    display: flex;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

#top-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    padding: 15px;
    border-bottom: solid #156070;
    background-color: #212121;
    position: sticky;
    top: 0;
}


#top-nav .link-button {
    padding: 10px;
    border: 0px;
    border-radius: 10px;
    background-color: #121212;
    color: #156070;
    width: 150px;
    min-width: 150px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-family: "Stack Sans Notch", sans-serif;
    cursor: pointer;
    transition:
        background-color 1s, color 1s;
}

#top-nav .link-button:hover,
#top-nav .link-button.active {
    background-color: #3f054f;
    color: #CAA8F5;
}

#top-nav .link-button.active {
    cursor: default;
}


#personal-data {
    text-align: center;
}

#header {
    background: #3F054F;
    background: radial-gradient(circle, rgba(63, 5, 79, 1) 75%, rgba(21, 96, 112, 1) 100%);
}

#top-lists {
    display: flex;
}

.top-list {
    flex: 1;
}

.top-list h2 {
    text-align: center;
}

#weekly-summary,
#music-profile-links {
    text-align: center;
}

.blog-categories {
    background: #3F054F;
    background: radial-gradient(circle, rgba(63, 5, 79, 1) 75%, rgba(21, 96, 112, 1) 100%);
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

.category-button {
    background-color: #121212;
    border-radius: 10px;
    color: #156070;
    border: 0px;
    padding: 10px;
    flex: 1;
    cursor: pointer;
    transition:
        background-color 1s, color 1s;
}

.category-button:hover,
.category-button.active {
    background-color: transparent;
    color: #CAA8F5;
}

.category-button.active {
    cursor: default;
}

.profile-pic {
    border-radius: 50%;
    width: 250px;
}

.highlights-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding: 15px;
    justify-content: space-evenly;
}

.highlight-card {
    flex: 0 1 30%;
    min-width: 250px;
    border-radius: 10px;
    background-color: #121212;
    padding: 15px;
}

.project-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 15px;
    padding: 15px;
}

.simple-card-image {
    max-width: 100%;
}

.project-card {
    flex: 0 1 30%;
    min-width: 250px;
    border-radius: 10px;
    background-color: #121212;
    padding: 15px;
}

@media (width <=800px) {
    #content {
        margin-left: 0%;
        margin-right: 0%;
    }

    #top-nav {
        gap: 5px;
        padding: 5px;
    }

    #media-player {
        margin: 0px;
    }
}

pre {
    background-color: #282c34;
    border-radius: 6px;
    overflow-x: auto;
    margin: 1.5em 0;
}

pre code {
    font-family: "Google Sans Code", monospace;
    font-size: 0.875em;
}