#personal-data {
    text-align: center;
}

.profile-pic {
    border-radius: 50%;
    width: 250px;
}

.highlights-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding: 15px;
    justify-content: space-evenly;
}

.highlight-card {
    flex: 0 1 30%;
    min-width: 250px;
    border-radius: 10px;
    background-color: #121212;
    padding: 15px;
}